body{
    margin: 0;
}
.contain{
    text-align: center;
    justify-content: space-between;
}
.Heading{
    margin-bottom: 6em;
}
.fRow{
    margin-left: 10em;
    width: auto;
    height: 8em; 
    border-radius: 10px;
    font-size: 15px;
}
.fRow button{
    width: 25em;
    height: 10em;
    margin:1em;
    margin-top: 2em;

}
