
/*************form CSS***************************/
.BMIform{
    margin-left: 30em;
    margin-top: 10em;
}
.BMIform label{
    display: block;
    float: left;
    width:10em;
    margin-right: 1em;
    text-align: right;
    margin: 10px;
    padding-top: 0.1em;
    
}
.BMIform input{
    padding: 10px;
    margin-top: 10px;
}

.ButtonBMI{
    height: 3em;
    min-width:  2em;
    padding: 1em;
    border-radius:10px ;
    font-size: 15px;
    margin-left: 15em;
    margin-top: 2em;
}
.Result{
    display: block;
    text-align: center;
}